@model Nullable<int>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="edit-offer-block">
    <form id="offerEditForm">
        <ul>
            <li>
                <label for="offerName" class="required">Offer Name</label>
                <input data-bind="value: NameOffer" type="text" id="offerName" name="offerName" class="k-textbox" placeholder="Offer Name" required validationMessage="Please specify {0}" style="width: 220px;" />
            </li>
            <li>
                <label for="description" class="required">Description</label>
                <input data-bind="value: Description" type="text" id="description" name="description" class="k-textbox" placeholder="Description" required validationMessage="Please specify  {0}" style="width: 220px;" />
            </li>
            <li>
                <label for="date" class="required">Date</label>
                <input id ="date" data-bind="value: Date" data-format = "dd.MM.yyyy" data-parse-formats="dd.MM.yyyy" name="date" data-role="datepicker" type="date" placeholder="Offer Date" required validationMessage="Please specify  {0}" style="width: 220px">
            </li>
            <li>
                <label for="offerType">Offer Type</label>
                <input data-role="dropdownlist"
                       data-auto-bind="true"
                       data-bind="value: Type, source: offerTypes"
                       style="width: 220px;" name="offerType" id="offerType" required data-required-msg="Select offer type"  />
                <span class="k-invalid-msg" data-for="offerType"></span>
            </li>
            <li class="confirm">
                <button  type="button" class="k-button k-primary" data-bind="click: saveOffer">Save Offer</button>
            </li>
        </ul>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        @if (@Model != null)
        {
          <text>
          $(document).ready()
            {
            var offer = null;
            jQuery.ajax({
            url: "/Offers/GetOffer",
                    success: function(data) {
                    offer = data;
                },
                    data: { id: @Model},
                    async: false
                    });

                    var validator = $("#offerEditForm").kendoValidator().data("kendoValidator");

                    EditOfferViewModel.setOfferData(offer, validator)

                kendo.bind($("#edit-offer-block"), EditOfferViewModel);
            }
         </text>
        }

    </script>
   }