@using WebAuthForm.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Offers</h2>

<div id="offers-block">
    <div data-role="grid"
         data-columns="[
                {hidden: true, field:'IdOffer'},
                {field: 'NameOffer', title: 'Offer Name'},
                {field: 'Description', title: 'Description'},
                {field: 'Date', title: 'Date'}
            ]"
         data-bind="source: offersListData, visible: isVisible, events: { change: editOffer }",
         data-pageable="true"
         data-sortable="{
                mode: 'multiple',
                allowUnsort: true
            }"
        data-groupable ="true"
        data-selectable="true"></div>
</div>

@section scripts
{   
    <script type="text/javascript">

        kendo.bind($("#offers-block"), kendo.observable(new OffersListViewModel));
    </script>
}
